/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END OF RESET */

/* Base */
:root {
  --font-size-h1: clamp(34px, 5vw, 3rem);
  --line-height-h1: 1.2;
  --font-size-h2: 2.25rem;
  --line-height-h2: 1.2;
  --font-size-h3: 1.5rem;
  --line-height-h3: 1.2;

  --inline-padding-layout: 1rem;

  --red-1: #7d0f0f;

  color-scheme: light dark;
  background: white;
}
@media (prefers-color-scheme: dark) {
  :root {
    --red-1: #e0a8a8;
    background: black;
    color: #d3d3d3;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --inline-padding-layout: max(1rem, calc(50% - 600px));
  }
}

h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  font-weight: bold;
}
h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h3);
  font-weight: bold;
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 35px;
    bottom: -2px;
    width: 100px;
    height: 2px;
    background-color: var(--red-1);
  }
}
h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-weight: bold;
}

button,
.button {
  padding: 0.5rem 1rem;
  background: white;
  color: black;
  border-radius: 0.5rem;
  border: 0;
  line-height: 1;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;

  @media (prefers-color-scheme: dark) {
    background: black;
    color: #d3d3d3;
  }

  &.alt {
    background: black;
    color: white;
    @media (prefers-color-scheme: dark) {
      background: var(--red-1);
      color: black;
    }
  }
}

i img {
  width: 1rem;
  height: 1rem;
}

a {
  color: var(--red-1);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/* END OF BASE */

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: min-content 1fr min-content min-content;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  max-width: 100%;
  overflow-y: scroll;
}

header {
  background: linear-gradient(110deg, #580d2e, #fe4141);
  color: white;
  display: grid;
  grid-template-areas: "title image" "subtitle image" "social image";
  grid-template-rows: max-content 1fr min-content;
  column-gap: 3rem;
  row-gap: 1.5rem;
  padding: 3rem var(--inline-padding-layout);

  & > h1 {
    grid-area: title;
  }

  & > p {
    grid-area: subtitle;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

  & > ul {
    grid-area: social;
    justify-self: flex-start;
  }

  & > img {
    grid-area: image;
    aspect-ratio: 1;
    max-width: min(30vw, 200px);
    border-radius: 50%;
  }

  .follow {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    font-size: 1.5rem;

    & svg {
      height: 2rem;
      width: 2rem;
      filter: drop-shadow(2px 4px 6px black);
      transition: scale 100ms linear;

      & path {
        fill: white;
      }

      &:hover {
        scale: 1.1;
      }
    }
  }

  @media screen and (max-width: 500px) {
    & {
      grid-template-areas: "title image" "subtitle subtitle" "social social";
      grid-template-columns: 1fr min-content;
    }

    & > h1 {
      --font-size-h1: 2.5rem;
    }

    & > ul {
      justify-self: center;
    }

    & > img {
      width: 6rem;
      height: 6rem;
    }
  }
}

main > section {
  padding: 5rem var(--inline-padding-layout);

  &:nth-child(2n + 1) {
    background: #f4f4f6;
  }

  @media (prefers-color-scheme: dark) {
    &:nth-child(2n + 1) {
      background: #282828;
    }
  }
}

section.highlighted {
  padding-inline: calc(var(--inline-padding-layout) + 10vw);
  background: #f4f4f6;
  color: black;
  position: relative;
  font-size: 1.3rem;
  line-height: 2rem;

  @media screen and (max-width: 600px) {
    padding-inline: var(--inline-padding-layout);
  }

  & > h2 {
    margin-bottom: 1rem;
    font-size: clamp(30px, 4vw, var(--font-size-h2));
  }

  & a {
    font-size: 1.2rem;
  }

  & > p {
    margin-block: 1rem;
    max-width: 45ch;
  }

  .speakers {
    float: right;
    margin-inline: 2rem 3rem;

    @media screen and (max-width: 600px) {
      display: none;
    }

    figure {
      & img {
        width: 25vw;
        max-width: 150px;
        max-height: 200px;
        object-fit: scale-down;
        display: block;
        filter: drop-shadow(1px 4px 5px #580d2e);
        height: 100%;
      }

      & figcaption {
        font-size: 1rem;
        text-align: center;
        padding-right: 2rem;
        font-weight: bold;
      }
    }
  }

  .countdown {
    position: absolute;
    top: 0px;
    right: calc(var(--inline-padding-layout) + 2vw);
    rotate: 20deg;
    background: #fbdc56;
    color: black;
    padding: 0.5rem;
    max-width: 200px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: bold;
    box-shadow: 7px 6px 5px 0px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 7px 6px 5px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 7px 6px 5px 0px rgba(0, 0, 0, 0.45);
    text-wrap: balance;
    text-align: center;

    @media screen and (max-width: 600px) {
      font-size: 1rem;
      line-height: 1rem;
      max-width: 150px;
    }
  }

  @media (prefers-color-scheme: dark) {
    & {
      color: white;

      & i img {
        filter: contrast(0);
      }
    }
  }
}

section.about_us {
  display: grid;
  grid-template-areas: "title" "text" "image" "team";
  column-gap: 3rem;
  row-gap: 2rem;

  @media screen and (min-width: 700px) {
    grid-template-areas: "image title" "image text" "image team";
    grid-template-rows: 1fr min-content 1fr;
  }

  & > h2 {
    grid-area: title;
    align-self: flex-end;
  }

  & > picture {
    grid-area: image;
    max-width: min(500px, 90vw);
    justify-self: center;
    --offset: calc(100% / 6);

    & > img {
      width: 100%;
      aspect-ratio: 500 / 389;
      border-radius: 10px;
      box-shadow: 2px 2px 5px 1px black;
      object-fit: cover;
      object-position: 0px 0px;
    }

    &.alt img {
      object-position: 0px 16.64%;
    }
    &.ariel img {
      object-position: 0px 33.314%;
    }
    &.enzo img {
      object-position: 0px 50%;
    }
    &.gemma img {
      object-position: 0px 66.64%;
    }
    &.santi img {
      object-position: 0px 83.314%;
    }
    &.wacko img {
      object-position: 0px 100%;
    }

    @media screen and (min-width: 700px) {
      width: 40vw;
    }
  }

  & > p {
    grid-area: text;
    font-size: var(--font-size-h3);
  }

  & > div {
    display: flex;
    flex-wrap: wrap;
    grid-area: team;
    align-self: flex-start;
    justify-content: center;

    button {
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      position: relative;
      animation: idle-button infinite linear 5s;
      animation-delay: var(--animation-delay, 0s);

      &::after {
        display: block;
        position: absolute;
        content: "";
        height: 1px;
        background-color: var(--red-1);
        left: 50%;
        right: 50%;
        bottom: 0px;
        transition: all linear 150ms;
      }

      &:focus,
      &:hover {
        animation: none;
        /* background-color: rgb(205, 205, 205); */
        &::after {
          left: 50px;
          right: 20px;
        }
      }
    }
  }
}

/* los nombres se mueven un poco para llamar la atención */
@keyframes idle-button {
  0% {
    scale: 1;
    rotate: 0deg;
  }
  90% {
    scale: 1;
    rotate: 1deg;
  }
  95% {
    scale: 1.1;
    rotate: 0deg;
  }
  100% {
    scale: 1;
    rotate: 1deg;
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

section.past {
  background: #f4f4f6;

  & h2 {
    margin-block-end: 2rem;
  }

  & > ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem 0;
    margin-bottom: 1.5rem;

    & > li {
      display: grid;
      grid-template-areas: "title" "date" "talks" "details";
      grid-template-rows: min-content min-content 1fr min-content;
      row-gap: 0.3rem;
      height: 12rem;
      border-radius: 0.5rem;
      border: 1px solid #e4e4e7;
      padding: 1rem 1.5rem 1.5rem;
      background: white;

      & h3 {
        grid-area: title;
      }

      & time {
        grid-area: date;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #6e6e77;
      }

      & ul {
        grid-area: talks;
        align-self: center;
        & > li {
          line-height: 1.2rem;
        }
        & > li + li {
          padding-top: 1rem;
        }
      }

      & .details {
        grid-area: details;
        font-weight: bold;
        cursor: pointer;
        font-size: 1.2rem;
      }
    }

    @media (prefers-color-scheme: dark) {
      & > li {
        background: rgb(23, 23, 23);
        border: 1px solid #121212;
      }
    }
  }

  .meetupDetails {
    position: relative;
    max-height: 92vh;
    max-width: min(900px, 92vw);
    border: 1px solid black;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 1.5rem 1.5rem 2rem;
    border-radius: 10px;
    .closeDialog {
      position: sticky;
      top: 0px;
      float: right;
      height: 0px;
      overflow: visible;
      button {
        border: 2px solid black;
        border-radius: 50%;
        display: flex;
        padding: 0.5rem;
        align-items: center;
        justify-content: center;
        opacity: 0.6;
        cursor: pointer;
        &:hover,
        &:focus {
          opacity: 1;
        }
      }
    }

    .talk {
      display: grid;

      grid-template-areas: "title" "video" "description" "speaker";
      grid-template-columns: 1fr;

      row-gap: 1rem;
      column-gap: 2rem;

      h3 {
        grid-area: title;
      }
      .speaker {
        grid-area: speaker;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        & ul {
          grid-area: social;
          gap: 0.3rem;
          vertical-align: text-top;
          display: flex;
          &::before {
            content: "(";
          }
          &::after {
            content: ")";
          }
          & li {
            padding-top: 0px;
            & a {
              vertical-align: middle;
              & svg {
                width: 1rem;
                height: 1rem;

                @media (prefers-color-scheme: dark) {
                  & path {
                    fill: white;
                  }
                }
              }
            }
          }
        }
      }
      p {
        grid-area: description;
        width: 100%;
      }
      iframe {
        grid-area: video;
        width: 100%;
        aspect-ratio: 16 / 9;
        max-height: 315px;
      }
    }

    .talk + .talk {
      border-block-start: 1px solid black;
      margin-block-start: 2rem;
      padding-block-start: 1rem;
    }

    @media screen and (min-width: 800px) {
      .talk:has(iframe) {
        grid-template-areas: "title title" "video description" "video speaker";
        grid-template-columns: 1fr 0.5fr;
      }
    }
  }
}

section.sponsors {
  padding-block: 5rem 3rem;

  & ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 3rem 2rem;
    column-gap: 3rem;
    row-gap: 2rem;
    margin-bottom: 1.5rem;

    & li {
      justify-self: center;
      align-self: center;
      width: 100%;

      & picture {
        display: block;
        width: 100%;
        max-width: 50vw;
        & img {
          width: 100%;
        }
      }
    }
  }
}

footer {
  background: #f4f4f5;
  padding: 5rem var(--inline-padding-layout);
  --font-size-h3: 1.125rem;
  --line-height-h3: 1.75rem;

  & h2 {
    margin-block-end: 2rem;
  }

  & ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 2rem;

    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  & p {
    padding-block: 1rem;
  }
}

.copyright {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem var(--inline-padding-layout);
  font-size: clamp(14px, 2vw, 1rem);
  gap: 0.75rem;

  & a {
    color: white;
  }
  & button {
    padding: 0;
    background: transparent;
  }
}

.snakeBoard[open] {
  padding: 0;
  min-height: 80vmin;
  min-width: 80vmin;

  .hud {
    grid-area: hud;
    padding: 0.5rem;
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    border-bottom: 1px solid var(--red-1);
    @media (prefers-color-scheme: dark) {
      color: white;
    }
  }

  .board {
    grid-area: board;
    --board-size: 15;
    display: grid;
    grid-template-columns: repeat(var(--board-size), 1fr);
    grid-template-rows: repeat(var(--board-size), 1fr);
    font-size: 0rem;
    aspect-ratio: 1;

    & > span,
    & > img {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
    & > span {
      background: black;
      @media (prefers-color-scheme: dark) {
        background: white;
      }
    }

    & p {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
      @media (prefers-color-scheme: dark) {
        color: white;
      }
    }
  }

  .controls {
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: grid;
    margin: auto auto;
    row-gap: 1rem;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);
    .up {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
    .right {
      grid-column: 3 / 4;
      grid-row: 2 / 4;
    }
    .left {
      grid-column: 1 / 2;
      grid-row: 2 / 4;
    }
    .down {
      grid-column: 2 / 3;
      grid-row: 3 / 5;
    }

    & small {
      grid-row: 5 /6;
      grid-column: 1 / 4;
      text-align: center;
      color: white;
    }
  }
}

.snakeGif {
  position: fixed;
  left: -30px;
}
