<section class="about_us" id="about_us">
  <h2>Quiénes somos</h2>
  <div class="pictureWrapper textBox">
    <picture data-original-alt="El equipo de las meetup sentados en un sillón">
      <source srcset="images/about/about.webp" />
      <source srcset="images/about/about.jpg" />
      <img
        src="images/about/about.jpg"
        alt="El equipo de las meetup sentados en un sillón"
      />
    </picture>
    <img
      class="easterEgg ariel"
      src="/images/puzzle.gif"
      alt="Piezas de rompecabezas"
    />
    <img
      class="easterEgg enzo"
      src="/images/megaman.gif"
      alt="Megaman corriendo"
    />
    <img class="easterEgg gemma" src="/images/butterfly.gif" alt="Mariposa" />
    <span class="easterEgg santi">🧨</span>
    <img class="easterEgg wacko" src="/images/dice.gif" alt="Dados rodando" />
  </div>

  <p>
    El equipo organizador coordina los eventos, mantiene las redes sociales y
    está día a día en la búsqueda para seguir creciendo:
  </p>

  <div>
    <button
      class="alt-button"
      data-picture-class="gemma"
      data-image-alt="Todos apuntando a Gemma"
    >
      🦋 Gemma
    </button>
    <button
      class="alt-button"
      data-picture-class="santi"
      data-image-alt="Todos apuntando a Santiago"
    >
      🧨 Santiago
    </button>
    <button
      class="alt-button"
      data-picture-class="wacko"
      data-image-alt="Todos apuntando a Joaquin"
    >
      🎲 Joaquin
    </button>
    <wbr />
    <button
      class="alt-button"
      data-picture-class="enzo"
      data-image-alt="Todos apuntando a Enzo"
    >
      🏃‍♂️ Enzo
    </button>
    <button
      class="alt-button"
      data-picture-class="ariel"
      data-image-alt="Todos apuntando a Ariel"
    >
      🧩 Ariel
    </button>
  </div>
</section>
