<section class="about_us" id="about_us">
  <h2>Quiénes somos</h2>
  <img
    src="images/about/team1.jpg"
    data-alt-url="images/about/team2.jpg"
    data-original-url="images/about/team1.jpg"
    alt="El equipo de las meetup sentados en un sillón"
  />

  <p>
    El equipo organizador coordina los eventos, mantiene las redes sociales y
    está día a día en la búsqueda para seguir creciendo:
  </p>

  <div>
    <button
      data-image-url="images/about/gemma.jpg"
      data-image-alt="Todos apuntando a Gemma"
    >
      🎨 Gemma
    </button>
    <button
      data-image-url="images/about/santi.jpg"
      data-image-alt="Todos apuntando a Santiago"
    >
      🧨 Santiago
    </button>
    <button
      data-image-url="images/about/wacko.jpg"
      data-image-alt="Todos apuntando a Joaquin"
    >
      🦆 Joaquin
    </button>
    <wbr />
    <button
      data-image-url="images/about/enzo.jpg"
      data-image-alt="Todos apuntando a Enzo"
    >
      🏃‍♂️ Enzo
    </button>
    <button
      data-image-url="images/about/ariel.jpg"
      data-image-alt="Todos apuntando a Ariel"
    >
      🧩 Ariel
    </button>
  </div>
</section>
