<section class="contact_us" id="contact_us">
  <h2>Contacto</h2>
  <div>
    <a
      href="https://forms.gle/SgLJmfsawaBjNUAm6"
      class="button"
      target="_blank"
    >
      <img src="/images/icons/mic.svg" alt="Micrófono" />
      Quiero ser speaker
    </a>
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSf0WreML6NwaWDGnQxWSKdjCnTAvLj6yErrceq_aF-9yIT-0w/viewform"
      class="button"
      target="_blank"
    >
      <img src="/images/icons/handshake.svg" alt="Apretón de manos" />
      Quiero ser sponsor
    </a>
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSf5UX6Sf_YPVgO4Y-77yOnxyBC1lArfpSGlwL8iqDU_RibV0w/viewform?usp=sharing&authuser=1"
      class="button"
      target="_blank"
    >
      No sé qué quiero<br />pero quiero contactarlos
    </a>
  </div>
</section>
