{% assign gallery_items = site.data.gallery[include.meetup.key] %}
<li class="textBox">
  <h3>{{ include.meetup.meetup }}</h3>
  <ul>
    {% for talk in include.meetup.talks %}
    <li><img src="/images/ruby-full.svg" alt="Ruby" />{{ talk.title }}</li>
    {% endfor %}
  </ul>
  <a href="/meetup/{{ include.meetup.key }}.html" target="_blank">VER MÁS</a>

  {% if gallery_items %}
  <button class="gallery">GALERÍA</button>
  {% endif %} {% if gallery_items %}
  <dialog class="meetupGallery" data-meetup-key="{{ include.meetup.key }}">
    <div class="closeDialog"><button class="">X</button></div>
    <div class="thumbnails">
      {% for item in gallery_items %}
      <button
        data-filename="{{ item.filename }}"
        data-media-type="{{ item.media_type }}"
      >
        <img
          src="/media/meetups/{{ include.meetup.key }}/{{ item.filename }}_thumbnail.jpg"
          alt="{{ item.alt_text }}"
          loading="lazy"
        />
      </button>
      {% endfor %}
    </div>
    <div class="mainElement"></div>
  </dialog>
  {% endif %}
</li>
