<section class="sponsors">
  <h2>Sponsors</h2>
  <ul>
    {% for sponsor in site.data.sponsors %}
    <li>
      <a href="{{ sponsor.url }}" target="_blank">
        <img
          src="images/sponsors/{{ sponsor.logo_filename }}"
          alt="Logo de {{ sponsor.name }}"
        />
      </a>
    </li>
    {% endfor %}
  </ul>
  <a
    href="https://docs.google.com/forms/d/e/1FAIpQLSf0WreML6NwaWDGnQxWSKdjCnTAvLj6yErrceq_aF-9yIT-0w/viewform"
    target="_blank"
    >Sumate como sponsor</a
  >
</section>
