<section class="sponsors">
  <h2>Sponsors</h2>
  <ul>
    {% for sponsor in site.data.sponsors %}
    <li>
      <a href="{{ sponsor.url }}" target="_blank">
        <picture>
          <source
            media="(prefers-color-scheme:dark)"
            srcset="images/sponsors/{{ sponsor.logo_filename_dark_mode }}"
          />
          <source
            media="(prefers-color-scheme:light)"
            srcset="images/sponsors/{{ sponsor.logo_filename }}"
          />
          <img
            src="images/sponsors/{{ sponsor.logo_filename }}"
            alt="Logo de {{ sponsor.name }}"
          />
        </picture>
      </a>
    </li>
    {% endfor %}
  </ul>
  <a
    href="https://docs.google.com/forms/d/e/1FAIpQLSf0WreML6NwaWDGnQxWSKdjCnTAvLj6yErrceq_aF-9yIT-0w/viewform"
    target="_blank"
    class="button alt"
    >Sumate como sponsor</a
  >
</section>
