<section class="stats" id="stats">
  <h2>RubySur en números:</h2>
  <div>
    <p>
      <img src="/images/icons/meetups.png" alt="Micrófono" /><span>25</span
      ><em>MEETUPS</em>
    </p>
    <p>
      <img
        src="/images/icons/rubistas.png"
        alt="Personas con un logo de Ruby"
        class="rubistas"
      /><span>200</span><em>RUBISTAS NOS VISITARON</em>
    </p>
    <p>
      <img
        src="/images/icons/speakers.png"
        alt="Persona frente a slides"
        class="speakers"
      /><span>30</span><em>SPEAKERS</em>
    </p>
    <p>
      <img src="/images/icons/mates.png" alt="Mate" /><span>6732</span
      ><em>MATES TOMADOS</em>
    </p>
  </div>
</section>
