<section class="stats" id="stats">
  <h2>RubySur en números:</h2>
  <div>
    <p class="meetups">
      {% include svg/meetups.svg %}<span>35</span><em>MEETUPS</em>
    </p>
    <p class="rubistas">
      {% include svg/rubistas.svg %}<span>250</span
      ><em>RUBISTAS NOS VISITARON</em>
    </p>
    <p class="speakers">
      {% include svg/speakers.svg %}<span>35</span><em>SPEAKERS</em>
    </p>
    <p class="mates">
      {% include svg/mate.svg %}<span>7534</span><em>MATES TOMADOS</em>
    </p>
  </div>
</section>
